.maxBox {
  width: 100%;
}
.maxBox .bgImg {
  width: 100%;
  height: 500px;
}
.maxBox .bgImg img {
  width: 100%;
  height: 100%;
}
.maxBox .nav {
  width: 100%;
  height: 55px;
  background: #595a59;
  position: fixed;
  opacity: 0.8;
  top: 0;
  z-index: 9999;
}
.maxBox .nav ul .logo {
  font-size: 28px;
  color: #ff946e;
  width: auto!important;
}
.maxBox .nav ul #accountmenu {
  list-style: none;
  margin-left: 30px;
  float: left;
  line-height: 55px;
  text-align: center;
  width: 80px;
  color: #ccc!important;
  font-size: 15px;
}
.maxBox .nav ul .inp {
  width: 150px;
  height: 26px;
  border-radius: 15px;
  margin-right: 150px!important;
  overflow: hidden;
}
.maxBox .nav ul .search {
  position: absolute;
  top: 10px;
  right: 100px;
}
.maxBox .nav ul li {
  list-style: none;
  margin-left: 30px;
  float: left;
  line-height: 55px;
  text-align: center;
  width: 80px;
  color: #fcf7f5;
  font-size: 16px;
}
.maxBox .nav ul .list:hover {
  border-top: 2px solid #ff946e;
  color: #ff946e;
}
.maxBox .picBox {
  background: #FFF;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  margin-top: -130px;
  margin-left: 50px;
  display: block;
}
.maxBox .picBox .pic {
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin: 5px 5px;
}
.maxBox .intro h2 {
  text-align: center;
  font-size: 40px;
}
.maxBox .intro p {
  text-align: center;
  font-size: 16px;
  color: #b0b0b0;
  margin-bottom: -10px;
}
.maxBox .about {
  margin-top: 100px;
}
.maxBox .about h2 {
  font-size: 24px;
  color: #343434;
}
.maxBox .about img {
  width: 500px;
  height: 335px;
  border-radius: 10px;
  margin: 20px 100px;
}
.maxBox .share h3 {
  margin-top: 40px;
  display: inline-block;
  margin-right: 30px;
}
.maxBox .share img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: -10px;
}
.maxBox .share .adv {
  display: block;
  width: 320px;
  height: 180px;
  background: #f1efee;
  padding: 30px 20px;
  margin-top: 30px;
}
.maxBox .share .adv p {
  font-size: 20px;
}
.maxBox .share .adv a {
  font-size: 13px;
  color: #666666;
}
.maxBox .share .adv span {
  text-align: right;
  color: #ff946e;
  display: block;
  font-size: 16px;
}
.maxBox .share .adv input {
  width: 95%;
  margin-top: 20px;
  height: 43px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: transparent;
}
.maxBox .share .adv input:hover {
  background: #ff946e;
}
.maxBox .comment {
  width: 100%;
  margin-top: 40px;
  background: #fcfaf9;
  padding-bottom: 20px;
}
.maxBox .comment ul {
  width: 100%;
  margin-top: 40px;
}
.maxBox .comment ul .title {
  font-size: 26px;
  border-bottom: 2px solid #ff9773;
  color: #ff9773;
}
.maxBox .comment ul li {
  list-style: none;
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}
.maxBox .comment ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
}
.maxBox .comment ul li .name {
  font-size: 16px;
}
.maxBox .comment ul li p {
  font-size: 15px;
  color: #666666;
  margin: 10px 0;
}
.maxBox .comment ul li .time a {
  float: right;
}
.maxBox .comment ul .more {
  width: 110px;
  height: 30px;
  font-size: 13px;
  background: transparent;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
}
.maxBox .footer {
  width: 100%;
  height: 400px;
  background: #595a59;
  padding-top: 50px;
}
.maxBox .footer .footBox_left {
  margin-left: 70px;
}
.maxBox .footer .footBox_left h2 {
  color: #ff946e;
  display: inline-block;
  margin-right: 10px;
}
.maxBox .footer .footBox_left a {
  font-size: 14px;
  color: #FFF;
}
.maxBox .footer .footBox_left ul {
  width: 100px;
  height: auto;
  margin-bottom: 50px;
}
.maxBox .footer .footBox_left ul li {
  list-style: none;
  color: #bfbfbf;
  margin-top: 10px;
  font-size: 14px;
}
.maxBox .footer .footBox_left ul li:hover {
  color: #fff;
}
.maxBox .footer .footBox_left p {
  color: #bfbfbf;
  font-size: 13px;
  margin-top: -10px;
}
.maxBox .footer .footBox_right h1 {
  color: #FFF;
}
.maxBox .footer .footBox_right span {
  font-size: 16px;
  color: #bfbfbf;
}
.maxBox .footer .footBox_right button {
  display: block;
  width: 110px;
  height: 25px;
  background: #ff946e;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #FFF;
}
.maxBox .footer .footBox_right .code {
  width: 74px;
  background: #fff;
  border-radius: 5px;
  height: auto;
  padding: 5px;
  display: inline-block;
  font-size: 12px;
  margin: 15px 10px 15px 0px;
  text-align: center;
}
.maxBox .footer .footBox_right .code img {
  width: 60px;
  height: 60px;
}
.maxBox .person {
  width: 100%;
  background: #fafafa;
  height: auto;
  margin-bottom: 50px;
}
.maxBox .person ul {
  width: 100%;
  padding-top: 100px;
}
.maxBox .person ul li {
  width: 100%;
  background: #fff;
  list-style: none;
  border-radius: 5px;
  height: 160px;
  border-radius: 10px;
  margin-top: 10px;
}
.maxBox .person ul li:hover {
  box-shadow: 0px 0px 8px #ccc;
}
.maxBox .person ul li:hover p {
  color: #ff946e;
}
.maxBox .person ul li img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin: 20px 20px;
}
.maxBox .person ul li p {
  font-size: 18px;
  margin-top: 20px;
}
.maxBox .person ul li p .point {
  font-size: 18px;
  color: black;
}
.maxBox .person ul li p .price {
  font-size: 18px;
  color: black;
  float: right;
  margin-right: 20px;
}
.maxBox .person ul li span {
  font-size: 13px;
}
