<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--  <link rel="shortcut icon" href="/static/front/favicon.ico"> -->

   <link rel="stylesheet" href="/__STATIC_PATH__/index/css/index.css">
    <link rel="stylesheet" href="/__STATIC_PATH__/index/css/swiper.min.css">
    <title>班级风采展示</title>
    <style type="text/css">
        
.home-guide {
  text-align: center;
  color: #939393;
  margin: 80px 0;
}
.home-guide .guide-step {
  display: inline-block;
  width: 250px;
}
.home-guide .guide-step + .guide-step {
  margin-left: 40px;
}
.home-guide .guide-step i {
  color: #ff946e;
  font-size: 50px;
  float: left;
  margin-right: 8px;
}
.home-guide .guide-step h2 {
  font-size: 24px;
  text-align: left;
}
.home-guide .guide-step p {
  text-align: left;
}

@font-face {
  font-family: tutor-icons;
  src: url(/__STATIC_PATH__/index/css/ddfa3f61.tutor-icons.woff);
}
i {
  font-family: tutor-icons;
  font-style: normal;
  line-height: 1;
}
.icon-arrow:before {
  content: "\e629";
}
.icon-tutor:before {
  content: "\e90b";
}
.icon-consultant:before {
  content: "\e90c";
}
.icon-service:before {
  content: "\e90d";
}

    </style>
  </head>
  <body>
    <header>
      <h1>你我同行</h1>
    </header>
    
    <section class="first">
      <img src="/__STATIC_PATH__/index/images/zw.jpg" alt="">
    </section>
    

<div id="home-guide" class="home-guide">
    <div class="self-container">
      <div class="guide-step text-center">
          <i class="icon icon-tutor"></i>
          <h2>海量行家</h2>
          <p class="col-sm-hide">严选超过8千位行家达人专属服务</p>
      </div>
      <div class="guide-step text-center">
          <i class="icon icon-consultant"></i>
          <h2>万能顾问</h2>
          <p class="col-sm-hide">求教专家解惑或与达人切磋</p>
      </div>
      <div class="guide-step text-center">
          <i class="icon icon-service"></i>
          <h2>按需服务</h2>
          <p class="col-sm-hide">根据个人所需线上线下灵活沟通</p>
      </div>
    </div>
  </div>

    
    <section class="second">

      <div class="content">
        <ul class="index-list">
          <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="../../admin/user">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>

          <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>



          <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>
   <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>



         <li class="index-list-tutor index-list-sm" id="five" style="width: 470px">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">
            </a>
        </li>



<li class="index-list-tutor index-list-sm" >
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>


           <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>

           <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>
           <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>
           <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>
           <li class="index-list-tutor index-list-sm">
            <a class="index-list-item aTutor" data-received="首页-行家页..mID.84773457;mName.但愿;showOrder.1" data-market="官网首页;行家顾问;1" href="/mentor/84773457/">
                <img src="http://media.zaih.com/FkClnjtqOrelsE5b6Z687d1YdyCd">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>但愿</h3>
                    <h4>金山PPT设计师，文艺美学博士在读</h4>
                    <p class="index-topic-name">与丑陋的PPT说再见</p>
                    <p class="index-topic-info indexTopicInfo">
                        <i>『 </i>
                            <span>本话题为PPT训练课程：理论版，更多强调如何做出设计感强烈的PPT作品，且附送一刻钟生活中的辩论与哲学思考视角探索小课程。</span>
                        <i> 』</i>
                    </p>
                </div>
            </a>
        </li>
        </ul>
      </div>
    </section>

    <section class="first">

      <h2 class="slider-title">优秀作品集</h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
        <!-- 如果需要分页器 -->
        <!-- <div class="swiper-pagination"></div> -->
        
        <!-- 如果需要导航按钮 -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
        
        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
      </div>
    </section>

    <br/>
    <br/>
    <br/>
    <br/>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
    <script src="https://cdn.bootcss.com/Swiper/4.0.0-beta.2/js/swiper.min.js"></script>
    <script>
      window.onload = function(){
        var mySwiper = new Swiper('.swiper-container', {
        grabCursor:true,
        loop:true,
        autoplayDisableOnInteraction:false,
        autoplay:2000,
        speed:1000
      })
      }

     

    </script>


  </body>
</html>