<!DOCTYPE>
<html>
<head>
<meta charset="utf-8">
	<title>源酷名企班成员</title>
   	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/__STATIC_PATH__/index/css/personlist.css">
</head>
<body>
<div class="maxBox">
<div class="nav">
<div class="container">
	<ul>
		<li class="logo">源酷名企班</li>
		<li class="list">职场发展</li>
		<li class="list">互联网+</li>
		<li class="list">创业和投资</li>
		<li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" >更多<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
							<li><a href="#">HTML5</a></li>
                        </ul>
                    </li>
		<li class="list">职场发展</li>
		<li class="list">职场发展</li>
		<li class="list">登录</li>
		<li class="list">注册</li>
	</ul>
	</div>
</div>

<div class="person">
<div class="container">
	<ul>

	<li>
	<div class="row">	
	<div class="col-md-2"><img src="images/1.jpg"></div>
	<div class="col-md-10">
	<p>资深技术专家，职业规划师&nbsp&nbsp <span class="point">9.0分</span> <span class="price">699/次</span></p>
    <span><strong>李丹</strong>&nbsp&nbsp职业规划师
    <br><br>410人见过
    </span>
	</div>
	</div>
	</li>

<li>
	<div class="row">	
	<div class="col-md-2"><img src="images/1.jpg"></div>
	<div class="col-md-10">
	<p>资深技术专家，职业规划师&nbsp&nbsp <span class="point">9.0分</span> <span class="price">699/次</span></p>
    <span><strong>李丹</strong>&nbsp&nbsp职业规划师
    <br><br>410人见过
    </span>
	</div>
	</div>
	</li>

<li>
	<div class="row">	
	<div class="col-md-2"><img src="images/1.jpg"></div>
	<div class="col-md-10">
	<p>资深技术专家，职业规划师&nbsp&nbsp <span class="point">9.0分</span> <span class="price">699/次</span></p>
    <span><strong>李丹</strong>&nbsp&nbsp职业规划师
    <br><br>410人见过
    </span>
	</div>
	</div>
	</li>

	</ul>
</div>
	
</div>

 <div class="footer">
 	<div class="container">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="footBox_left">
 			<div><h2>源酷名企</h2><a>zllllc出品</a></div>
 		<ul>
 			<li>首页</li>
 			<li>下载App</li>
 			<li>关于我们</li>
 			<li>帮助</li>	
 		</ul>
 		<p>GUOKR © 2015 LOVINGLY MADE IN BEIJING </p>
 		<p>广州源酷信息技术有限公司 </p>
 		<p>京B2-20160131 |  京公网安备 11010502031582号</p>
 		</div>
 		</div>
 		<div class="col-md-6">
 			<div class="footBox_right">
 			<h1>4000-691-791</h1>
 			<span>工作日 10:00-19:00</span>
 			<button>在线查询</button>
 			<div class="code"><img src="images/code01.jpg">官方微信</div>
 			<div class="code"><img src="images/code01.jpg">在线沙龙</div>
 			<br>
 			<span>地址 广州市天河区车陂龙口商业大厦2楼 </span>
 			<br>
 			<span>电话 010-85809983</span>
 			</div>
 		</div>
 	</div>
 		
 	</div>
 </div>
</div>
</body>
</html>