<!DOCTYPE>
<html>
<head>
<meta charset="utf-8">
	<title>源酷名企班</title>
   	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/__STATIC_PATH__/index/css/personlist.css">
</head>
<body>
<div class="maxBox">
<div class="bgImg"><img src="images/bj.jpg"></div>
<div class="nav">
<div class="container">
	<ul>
		<li class="logo">源酷名企班</li>
		<li class="list">职场发展</li>
		<li class="list">互联网+</li>
		<li class="list">创业和投资</li>
		<li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" >更多<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
							<li><a href="#">HTML5</a></li>
                        </ul>
                    </li>
		<li class="list">职场发展</li>
		<li class="list">职场发展</li>
		<li class="list">登录</li>
		<li class="list">注册</li>
	</ul>
	</div>
</div>
	<div class="container">
	  <div class="row">
	     <div class="col-md-8">	
	       <span class="picBox"><img src="images/1.jpg" class="pic"></span>
	           <div class="intro">
	             <h2>罗志诚</h2>
	             <p class="job">资深技术专家，职业规划师</p>
	             <br>
	             <p class="address">西安 西安 高新区</p>
	            </div>
	      <div class="about">
		  <h2><strong>关于我</strong></h2>
		  <img src="images/1.jpg">
		  <p>我是悦宁，我现在北广传媒担任主持人、制片人。我毕业于中国传媒大学播音主持艺术专业，我喜欢音乐、舞蹈、电影、运动、旅行等，是一个活泼开朗直率的人。我有16年年媒体从业经验，期间曾：担任CCTV－5《早安中国》主持人、BTV－4《欢乐总动员》主持人及电视短剧女主角。2004年至今担任北广传媒移动电视主持人、制片人。我还曾策划、主持并担任多档电视节目制片人，如：
		  <ul>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  	<li>中国传媒大学播音主持艺术专业</li>
		  </ul>

          </p>
		  <p>主持人及电视短剧女主角。2004年至今担任北广传媒移动电视主持人、制片人。我还曾策划、主持并担任多档电视节目制片人，如
		  </p>
	      </div>
        </div>

<div col-md-4>
 <div class="share">
  <h3>分享</h3>
  <img src="images/微信.png" title="分享到微信">
  <img src="images/微博.png" title="分享到微信">
		<div class="adv">
			<p>只需付<strong>几百元</strong>，就可以与大牛
		<strong>一对一线下面谈</strong></p>
		<a>为您答疑解惑、出谋划策。不满意还能“无忧退款”。</a>
		<span>源酷名企</span>
		<input type="button" name="" value="立即预约">
		<input type="button" name="" value="加入心愿单">
		</div>
      </div>
    </div>
  </div>
</div>
  <div class="comment">
		  <div class="container">
		  <div class="row">
		  <div class="col-md-8">
		  	<ul>
		  	<a class="title">学员热评</a>
		  	<li>
		  	<div class="row">
		  	<div class="col-md-2">
		  		<img src="images/1.jpg">
		  	</div>

		  	<div class="col-md-10">
		  	<span class="name"><strong>百叶飘窗</strong></span>
		  	<p>老师年轻貌美，声音专业又有魅力。言谈举止间已经能够读到细微，找到问题。老师更能激发心底的想法，强化自信。是十分有价值的约见！强烈推荐！</p>
		  	<span class="time">2017-06-12<a href="#">回复</a></span>
		  	</div>
		  	</div>	
		  	</li>

		  	<li>
		  	<div class="row">
		  	<div class="col-md-2">
		  		<img src="images/1.jpg">
		  	</div>
		  	<div class="col-md-10">
		  	<span class="name"><strong>百叶飘窗</strong></span>
		  	<p>老师年轻貌美，声音专业又有魅力。言谈举止间已经能够读到细微，找到问题。老师更能激发心底的想法，强化自信。是十分有价值的约见！强烈推荐！</p>
		  	<span class="time">2017-06-12<a href="#">回复</a></span>
		  	</div>
		  	</div>	
		  	</li>
            <input type="button" name="" value="查看更多" class="more">
		  	</ul>
		  	</div>
		  	</div>
		  	<div class="col-md-4"></div>
		  </div>
 </div>
 <div class="footer">
 	<div class="container">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="footBox_left">
 			<div><h2>源酷名企</h2><a>zllllc出品</a></div>
 		<ul>
 			<li>首页</li>
 			<li>下载App</li>
 			<li>关于我们</li>
 			<li>帮助</li>	
 		</ul>
 		<p>GUOKR © 2015 LOVINGLY MADE IN BEIJING </p>
 		<p>广州源酷信息技术有限公司 </p>
 		<p>京B2-20160131 |  京公网安备 11010502031582号</p>
 		</div>
 		</div>
 		<div class="col-md-6">
 			<div class="footBox_right">
 			<h1>4000-691-791</h1>
 			<span>工作日 10:00-19:00</span>
 			<button>在线查询</button>
 			<div class="code"><img src="images/code01.jpg">官方微信</div>
 			<div class="code"><img src="images/code01.jpg">在线沙龙</div>
 			<br>
 			<span>地址 广州市天河区车陂龙口商业大厦2楼 </span>
 			<br>
 			<span>电话 010-85809983</span>
 			</div>
 		</div>
 	</div>
 		
 	</div>
 </div>
</div>
</body>
</html>