<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <style>
        .container{
            max-width: 1000px;
            margin: 10px auto;
        }
        .bg-purple {
            background: #d3dce6;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
        a:-webkit-any-link{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="cp">
        
        <div class="container">
                <el-row :gutter="10">
                <el-col :md="4"><div class="grid-content bg-purple">
                   <el-menu default-active="2" class="el-menu-vertical-demo">

                        <router-link to="/personal"><el-menu-item index="1"><i class="el-icon-menu"></i>个人信息</el-menu-item></router-link>

                        <router-link to="/opus"><el-menu-item index="2"><i class="el-icon-date"></i>作品管理</el-menu-item></router-link>

<!--                         <router-link to="/comment"><el-menu-item index="3"><i class="el-icon-message"></i>留言评论</el-menu-item></router-link>
                        <router-link to="admin"><el-menu-item index="4"><i class="el-icon-setting"></i>管理员</el-menu-item></router-link>
                        <router-link to="/apply"><el-menu-item index="5"><i class="el-icon-document"></i>作品申请列表</el-menu-item></router-link> -->
                    </el-menu>
                </div></el-col>
                <el-col :md="20"><div class="grid-content bg-purple-light">
                <router-view></router-view>
                </div></el-col>
            </el-row>
        </div>
    </div>
    


    <!--同学信息列表管理界面-->
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #20a0ff;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .touxiang{
            width: 300px;
            margin: 30px auto;
            text-align: center;
        }
        .pic{
            border-radius: 7px;
            height: 30px;
            line-height: 30px;
            color: #ddd;
            width: 70px;
            overflow: hidden;
            background-color: #D74242;
            display: inline-block;
            text-indent: 0;
        }
        .pic label{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .pic input{
            width: 0.1px; 
            height: 0.1px; 
            opacity: 0; 
            overflow: hidden; 
            position: absolute; 
            z-index: -1;
        }
        .preview{
            width: 200px;
            margin-bottom: 20px;
        }
    </style>
    <template id="personal">
        <div class="cl">

            <el-tabs v-model="activeName2" type="border-card">
                <el-tab-pane label="添加同学" name="first">
                    <div class="touxiang">
                     
                        <el-upload
                                id="upload"
                                class="avatar-uploader"
                                action="{:url('upload')}"
                                
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload">
                            <img v-if="imageUrl" :src="imageUrl" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            
                        </el-upload>
                     
                    </div>
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <el-form-item prop="id" hidden></el-form-item>
                        <el-form-item label="姓名" prop="name">
                            <el-col class="line" :span="8"><el-input v-model="ruleForm.name"></el-input></el-col>
                            <el-col class="line" :span="16"></el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex">
                            <el-select v-model="ruleForm.sex" placeholder="请选择性别">
                                <el-option label="男" value="men"></el-option>
                                <el-option label="女" value="women"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="学校" prop="school">
                            <el-col class="line" :span="8"><el-input v-model="ruleForm.school"></el-input></el-col>
                            <el-col class="line" :span="16"></el-col>
                        </el-form-item>
                        <el-form-item label="职位" prop="post">
                            <el-col class="line" :span="8"><el-input v-model="ruleForm.post"></el-input></el-col>
                            <el-col class="line" :span="16"></el-col>
                        </el-form-item>
                        <el-form-item label="住址" prop="address">
                            <el-col class="line" :span="8"><el-input v-model="ruleForm.address"></el-input></el-col>
                            <el-col class="line" :span="16"></el-col>
                        </el-form-item>
                        <el-form-item label="自我介绍" prop="desc">
                            <el-input type="textarea" v-model="ruleForm.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm')">确定修改</el-button>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>
        </div>
    </template>
    <!--同学信息列表管理界面end-->

    <!--作品管理页面-->
    <template id="opus">
        <div>
            
            <el-tabs v-model="activeName2" type="border-card">
                <el-tab-pane label="作品列表" name="first">
                    <el-table
                            :data="tableData"
                            border
                            style="width: 100%">
                        <el-table-column
                                label="作品ID"
                                width="100"
                        >
                            <template scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.id }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="上传日期"
                                >
                            <template scope="scope">
                                <el-icon name="time"></el-icon>
                                <span style="margin-left: 10px">{{ scope.row.cn_time }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="作品名称"
                        >
                            <template scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.pro_name }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="操作">
                            <template scope="scope">
                                <el-button
                                        size="small"
                                        @click="handleEdit(scope.row.id, scope.row)">编辑</el-button>
                                <el-button
                                        size="small"
                                        type="danger"
                                        @click="delPro(scope.row.id)">删除</el-button>
                                <el-button
                                        size="small"
                                        type="success"
                                        @click="javascript:void(0);">详情</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <el-tab-pane label="上传作品" name="second">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="">
                            <el-upload
                                    class="upload-demo"
                                    action="{:url('upload')}"
                                    :on-preview="handlePreview"
                                    :on-remove="handleRemove"
                                    :on-success="handleSuccess"

                                    :file-list="bindFileList"
                                    list-type="picture">
                                <el-button size="small" type="primary">点击上传作品截图</el-button>
                                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                            </el-upload>

                        </el-form-item>
                        <el-form-item label="作品名称" prop="name">
                            <el-col class="line" :span="7"><el-input v-model="ruleForm.name"></el-input></el-col>
                            <el-col class="line" :span="17"></el-col>
                        </el-form-item>
                       
                        <el-form-item label="作品介绍" prop="des">
                            <el-input type="textarea" v-model="ruleForm.des"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm')">立即上传</el-button>
                            <el-button @click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>
        </div>
    </template>
    <!--作品管理页面end-->

    <!-- 作品修改页面 -->
    <template id="opus-change">
        <div>
            
            <el-tabs v-model="activeName2" type="border-card">
                
                <el-tab-pane label="作品修改" name="first">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="">
                            <el-upload
                                    class="upload-demo"
                                    action="{:url('upload')}"
                                    :on-preview="handlePreview"
                                    :on-remove="handleRemove"
                                    :on-success="handleSuccess"

                                    :file-list="bindFileList"
                                    list-type="picture">
                                <el-button size="small" type="primary">点击上传作品截图</el-button>
                                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                            </el-upload>

                        </el-form-item>
                        <el-form-item label="作品名称" prop="name">
                            <el-col class="line" :span="7"><el-input v-model="ruleForm.name"></el-input></el-col>
                            <el-col class="line" :span="17"></el-col>
                        </el-form-item>
                       
                        <el-form-item label="作品介绍" prop="des">
                            <el-input type="textarea" v-model="ruleForm.des"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm')">立即上传</el-button>
                            <el-button @click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>
        </div>
    </template>
    <!-- 作品修改页面end -->
</body>
<!-- 先引入 Vue -->





<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    
    var fileList = <?php echo json_encode($file_list) ?>;

    const router=new VueRouter({
        mode: "hash",
        routes: [
            { path: '/', redirect: '/personal' },
            {
                path:'/personal',
                component:{
                    template:"#personal",
                    data() {
                        return {
                            imageUrl:"{$msg['stu_pho']}",
                            picPath:'',
                            activeName2: 'first',
                            ruleForm: {
                                picsrc: "{$msg['stu_pho']}",
                                id:"{$msg['id']}",
                                name: "{$msg['stu_name']}",
                                sex: "{$msg['stu_sex']}",
                                school: "{$msg['stu_sch']}",
                                post:"{$msg['stu_post']}",
                                address:"{$msg['stu_address']}",
                                desc: "{$msg['stu_des']}"
                            },
                            rules: {
                                name: [
                                    { required: true, message: '请输入姓名', trigger: 'blur' },
                                ],

                                desc: [
                                    { required: true, message: '请填写自我介绍', trigger: 'blur' }
                                ]
                            }
                        }

                    },

                    methods: {

                        submitForm(formName) {
                            console.log(this.$refs[formName])
                            this.$refs[formName].validate((valid) => {
                                if (valid) {
                                    axios.post("{:url('change')}",this.ruleForm)
                                        .then(function (response) {
                                            window.location.href = "{:url('index')}";
                                        })
                                        .catch(function (error) {
                                            console.log(error);
                                        });
                                  
                                } else {
                                    console.log('error submit!!');
                                    return false;
                                }
                            });
                        },
                        handleAvatarSuccess(res, file) {
                            this.ruleForm.picsrc = res;
                            this.imageUrl = res;
                        },
                        beforeAvatarUpload(file) {
                            const isJPG = file.type === 'image/jpeg';
                            const isLt2M = file.size / 1024 / 1024 < 2;

                            if (!isJPG) {
                                this.$message.error('上传头像图片只能是 JPG 格式!');
                            }
                            if (!isLt2M) {
                                this.$message.error('上传头像图片大小不能超过 2MB!');
                            }
                            return isJPG && isLt2M;
                        },
                        open2() {
                            this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                              confirmButtonText: '确定',
                              cancelButtonText: '取消',
                              type: 'warning'
                            }).then(() => {
                              this.$message({
                                type: 'success',
                                message: '删除成功!'
                              });
                            }).catch(() => {
                              this.$message({
                                type: 'info',
                                message: '已取消删除'
                              });          
                            });
                        }
                    }

                },

            },
            {
                path:'/opus',
                component:{
                    template:"#opus",
                    data(){
                        return{
                            activeName2: 'first',
                            ruleForm: {
                                fileList:[],
                                name: '',
                                type: [],
                                des: ''
                            },
                            bindFileList: [],
                            tableData: fileList,
                            rules: {
                                name: [
                                    { required: true, message: '请输入作品名称', trigger: 'blur' },
                                ],
                                date1: [
                                    { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
                                ],
                                date2: [
                                    { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
                                ],
                                type: [
                                    { type: 'array', required: true, message: '请至少选择一个类型', trigger: 'change' }
                                ],
                                des: [
                                    { required: true, message: '请填写作品介绍', trigger: 'blur' }
                                ]
                            }
                        }

                    },

                    methods: {

                        submitForm(formName) {
                            this.$refs[formName].validate((valid) => {
                                if (valid) {
                                    this.ruleForm.fileList=JSON.stringify(this.ruleForm.fileList)
                                    console.log(this.ruleForm.fileList);
                                    axios.post("{:url('addPro')}",this.ruleForm)
                                        .then(function (response) {
                                            window.location.href = "{:url('index')}";
                                        })
                                        .catch(function (error) {
                                            console.log(error);
                                        });
                                } else {
                                    console.log('error submit!!');
                                    return false;
                                }
                            });
                        },
                        resetForm(formName) {
                            this.$refs[formName].resetFields();
                        },
                        handleEdit(index, row) {
                            // session.setAttribute("pro_id",index);
                            router.push({name: 'opusChange', params: {id:index}});
                        },
                        handleSuccess(res,file,fileList){
                            console.log(res);
                            this.ruleForm.fileList.push(res);
                            console.log(this.ruleForm.fileList);
                            this.bindFileList.push({
                                url:res
                            })
                            console.log(this.bindFileList);
                        },
                        handleDelete(index, row) {
                            axios.post("{:url('delPro')}",{
                                    id:index
                                }).then(function (response) {
                                    window.location.href = "{:url('index')}";
                                });
                        },
                        handleRemove(file, fileList) {
                            console.log(file, fileList);
                        },
                        handlePreview(file) {
                            console.log(file);
                        },
                        delPro(index) {
                            this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                              confirmButtonText: '确定',
                              cancelButtonText: '取消',
                              type: 'warning'
                            }).then(() => {

                                axios.post("{:url('delPro')}",{
                                        id:index
                                    }).then(function (response) {
                                        window.location.href = "{:url('index')}";
                                    }).catch(function (error) {
                                        console.log(error);
                                    });

                            }).catch(() => {
                              this.$message({
                                type: 'info',
                                message: '已取消删除'
                              });
                            });
                        }
                    }
                }
            },
            {
                path:'/opusChange',
                name:'opusChange',
                component:{
                    template:"#opus-change",
                    data(){
                        return{
                            activeName2: 'first',
                            ruleForm: {
                                id:'',
                                fileList:[],
                                name: '',
                                type: [],
                                des: ''
                            },
                            bindFileList: [],
                            tableData: fileList,
                            rules: {
                                name: [
                                    { required: true, message: '请输入作品名称', trigger: 'blur' },
                                ],
                                date1: [
                                    { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
                                ],
                                date2: [
                                    { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
                                ],
                                type: [
                                    { type: 'array', required: true, message: '请至少选择一个类型', trigger: 'change' }
                                ],
                                des: [
                                    { required: true, message: '请填写作品介绍', trigger: 'blur' }
                                ]
                            }
                        }

                    },
                    created(){
                            var id = this.$route.params.id;
                            this.ruleForm.id = id;
                            var that = this;
                            axios.get("{:url('getPro')}",{
                                　　params: { 'id': id }
                                })
                                .then(function (response) {
                                    
                                    var data = response.data;
                                    
                                    that.ruleForm.name = data.pro_name;
                                    that.ruleForm.des = data.pro_des;
                                    var list = JSON.parse(data.pro_image);
                                    that.ruleForm.fileList = list;
                                  
                                    list.forEach(function(item){
                                        that.bindFileList.push({
                                            url:item
                                        })
                                    })

                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                        },
                    methods: {

                        submitForm(formName) {
                            this.$refs[formName].validate((valid) => {
                                if (valid) {
                                    this.ruleForm.fileList=JSON.stringify(this.ruleForm.fileList)
 
                                    axios.post("{:url('changePro')}",this.ruleForm)
                                        .then(function (response) {
                                            window.location.href = "{:url('index')}";
                                        })
                                        .catch(function (error) {
                                            console.log(error);
                                        });
                                } else {
                                    console.log('error submit!!');
                                    return false;
                                }
                            });
                        },
                        resetForm(formName) {
                            this.$refs[formName].resetFields();
                        },
                        handleEdit(index, row) {
                            console.log(index, row);
                        },
                        handleSuccess(res,file,fileList){
                            this.ruleForm.fileList.push(res);
                            this.bindFileList.push({
                                url:res
                            })
                            console.log(this.bindFileList);
                        },
                        handleDelete(index, row) {
                            axios.post("{:url('delPro')}",{
                                    id:index
                                }).then(function (response) {
                                    window.location.href = "{:url('index')}";
                                });
                        },
                        handleRemove(file, fileList) {
                            // console.log(file);
                            // console.log(fileList)
                            var that = this;
                            this.ruleForm.fileList = [];
                            fileList.forEach(function(item){
                                
                                that.ruleForm.fileList.push(item.url);
                            })
                        },
                        handlePreview(file) {
                            console.log(file);
                        }
                        
                    }
                }
            }

        ],
    })
    new Vue({
        el:"#cp",
        router,
        data:{
            visible:false
        }
    })
</script>
</html>