<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="login">
    <div class="container">
        <div class="left"><img src="images/left.jpg" /></div>
        <div class="right">
            <form action="" method="post">
                <div class="top">
                    <table>
                        <tr>
                            <td>
                        <label>用户名：</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                        <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                        <label>密码：</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                        <input type="password">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="foot">
                    <input type="submit" value="sign  in">
                    <a href="#">返回首页</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>